
<!-- Contact Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
      <h2>Apply Today</h2>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd_B24ghNZRnTofoxz44-3CTplgLltlZmJQQhJ710xpj1vEaA/viewform?embedded=true" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    <!-- <div class="col-md-10 col-md-offset-1">

      {{ page.content | markdownify }}

      {% if site.email %}
        {% if site.email contains '@' %}
          {% assign newemail = site.email | split: '@' %}
            <p>
            <script>
              function join_at_email(user, domain){
              return (user && domain)?(user + "@" + domain):"";
              }
              document.write('<a href="mailto:'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '">'
              + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
              + '</a>'
              );
              </script>
            </p>
        {% else %}
          <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        {% endif %}
      {% endif %}

    </div> -->
  </div>
</section>

<!-- Contact End -->
